{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% load static %}

{% block content %}
<div class="container-md">
    <div class="row gx-5">
        <!-- BRIEF BOX -->
        <div class="col-5 box">
            <div class="p-3 border bg-light info-container">

                <!-- AVATAR -->
                <div class="text-center avatar-container">
                    <img src="{% static 'images\IMG_4386.JPEG' %}" alt="my picture" class="avatar">
                </div>

                <div id="top">
                                        <!-- NAME -->
                    <div class="text-center">
                        <h1 class='name'>TRẦN NGUYÊN KHANG</h1>
                    </div>

                    <!-- VIA CONTACT -->
                    <div class="row gx-5 justify-content-md-center">
                        <div class="col-4 text-center icon-m-container">
                            <div class="text-center icon-container">
                                <img src="{% static 'images\facebook.png' %}" alt="facebook" class="icon float-left">
                            </div>
                        </div>
                        <div class="col-4 text-center icon-m-container">
                            <a href="">
                                <img src="{% static 'images\youtube.jpg' %}" alt="youtube" class="icon">
                            </a>
                        </div>
                        <div class="col-4 text-center icon-m-container">
                            <a href="">
                                <img src="{% static 'images\insta.jpg' %}" alt="instagram" class="icon">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- SOME INFORMATION -->
                <div id="bottom" class="justify-content-between">
                    <div class="row row-cols-2">
                        <!-- PHONE NUMBER -->
                        <div class="col-4 short-info icon-container first-row">
                            <img src="{% static 'images\phone.png' %}" alt="phone" class="icon">
                        </div>
                        <div class="col-8 short-info first-row">
                            <h4>Số điện thoại</h4>
                            <p>0938313117</p>
                        </div>

                        <div class="col-4 short-info icon-container second-row">
                            <img src="{% static 'images\email.png' %}" alt="" class="icon float-left">
                        </div>
                        <div class="col-8 short-info second-row">
                            <h4>Email</h4>
                            <p>trannguyenkhang836@gmail.com</p>
                        </div>

                        <div class="col-4 short-info icon-container third-row">
                            <img src="{% static 'images\map-pin.png' %}" alt="" class="icon float-left ">
                        </div>
                        <div class="col-8 short-info third-row">
                            <h4>Địa chỉ</h4>
                            <p>Quận Bình Tân, TP HCM</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- MAIN INFORMATION BOX -->
        <div class="col-7 box">
            <div class="bg-light" style="border-radius: 15px !important; padding: 20px ;">
                <!-- ABOUT SCHOOLS -->
                <div class="bg school">
                    <h4 style="font-size: 18px;">Tôi năm nay 17 tuổi, hiện đang học lớp 12 tại trường THPT Mạc Đĩnh Chi</h4>
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\IMG_9263.JPEG' %}" alt="#1" class="school-pic first">
                            </div>                    
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="text-center">
                                    <img src="{% static 'images\IMG_9246.JPEG' %}" alt="#2" class="school-pic second">
                                </div>
                            </div>
                            <div class="row">
                                <p style="margin-top: 7px ;">Quốc tế phụ nữ tại lớp 11A16</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\IMG_9255.JPEG' %}" alt="#3" class="school-pic third">
                            </div>                   
                        </div>
                    </div>
                </div>
                
                <!-- ABOUT FAVORITE SUBJECTS -->
                <div class="bg subjects">
                    <h4 style="font-size: 18px;">Môn học yêu thích: Toán, Hóa</h4>
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\chemistry.jpg' %}" alt="" class="other-pic">
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\math.jpeg' %}" alt="" class="other-pic">
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ABOUT HOOBIES -->
                <div class="bg hobby">
                    <h4 style="font-size: 18px;">Sở thích: Lập trình, đàn guitar</h4>
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\guitar.jpg' %}" alt="" class="other-pic">
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <img src="{% static 'images\laptrinh.jpeg' %}" alt="" class="other-pic">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}